<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareplatform.demo.mapper.EsProductMapper">
    <resultMap id="esProductMapList" type="com.shareplatform.demo.domain.EsProduct" autoMapping="true">
        <id column="goods_id" jdbcType="BIGINT" property="id"></id>
        <result column="goods_name" property="productName"></result>
        <result column="goods_intro" property="productIntro"></result>
        <result column="goods_category_id" property="productCategoryId"></result>
        <result column="goods_cover_img" property="productCoverImg"></result>
        <result column="goods_carousel" property="productCarousel"></result>
        <result column="goods_detail_content" property="productDetailContent"></result>
        <result column="goods_price" property="productPrice"></result>
        <result column="stock_num" property="stockNum"></result>
        <result column="goods_status" property="productStatus"></result>
        <result column="goods_score" property="productScore"></result>
    </resultMap>
    
    <select id="getAllEsProductList" resultMap="esProductMapList">
        SELECT * FROM goods
        WHERE goods_status=1
          <if test="id!=null">
              AND goods_id =#{id}
          </if>
    </select>
</mapper>
